#showForm {
    display:no/ne;
}

textarea {
    height: auto !important;   
}

.card label {
    color:#111;
}

#search_plate_no{
    background: #f4be04;
    color: black;
    width: 70%;
    height: 100px;
    border: #111 solid 1px;
    font-size: 50px;
}

#search_plate_no::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111;
    opacity: 1; /* Firefox */
  }
  
  #search_plate_no:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #111;
  }
  
  #search_plate_no::-ms-input-placeholder { /* Microsoft Edge */
    color: #111;
  }
  